# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# dotenv
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build
dist/
build/

# Logs
logs/
*.log

# Optional: если используешь TypeScript
*.tsbuildinfo
